@import url('https://fonts.googleapis.com/css?family=Overpass+Mono|Roboto');
body {
  color: snow;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #E71D36;
}

header,
main,
footer {
  display: flex;
}

header {
  background-color: #1976d2;
  box-shadow: 0 .5vh 2vh rgba(0, 0, 0, 0.5);
  z-index: 2;
  padding: .5em;
}

nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

header nav {
  width: 90vw;
  justify-content: space-between;
}

nav>* {
  flex-grow: 1;
  text-align: center;
  background-color: #2196f3;
  margin: 0 2vw;
  z-index: 3;
  box-shadow: 0 0 2vw rgba(0, 0, 0, 0.5);
  text-decoration: none;
  padding: .5em;
  color: snow;
}

aside {
  display: flex;
  flex-direction: column;
  text-align: center;
}

aside nav>* {
  margin: 1vw;
  flex-basis: 100%;
}

main {
  flex: 1;
  background-color: #1976d2;
}

footer {
  /*delete this line below to reenable footer*/
  display: none;
  background-color: #1976d2;
  box-shadow: 0 -.5vh 2vh rgba(0, 0, 0, 0.5);
  z-index: 1;
  justify-content: center;
}

aside {
  background-color: #3f51b5;
  box-shadow: .5vw 0 2vw rgba(0, 0, 0, 0.5);
  z-index: 1;
}

figure {
  flex: 3;
}

svg {
  font-family: 'Overpass Mono', monospace;
}

svg text tspan {
  fill: snow;
}

svg#visualization {
  background-color: #2E294E;
}

img#brand {
  height: 2.5em;
  margin-top: .25em;
  margin-left: 1em;
  border-radius: 100%;
  box-shadow: 0 0 2vw rgba(0, 0, 0, 0.5);
}

h3#zoom-label {
  z-index: 2;
  display: inline;
  position: absolute;
  bottom: 0;
  right: 20px;
}

div.tooltip {
  z-index: 9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80vw;
  box-shadow: 1vw 1vh 3vw rgba(0, 0, 0, 0.5);
  padding: 2vw;
  text-align: center;
}

.hidden {
  display: none;
}


@media (max-width: 600px) {
  main {
    flex-direction: column
  }
  aside {
    flex-basis: 100%;
  }
  header {
    display: flex;
    flex-direction: column;
  }
  img#brand,
  nav>* {
    flex-basis: 100%;
    margin: 1vw 0;
  }
}